.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  header {
    flex-shrink: 0;
  }
  main {
    flex: 1 0 auto;
    align-self: center;
    padding-top: 56px;
  }
  footer {
    flex-shrink: 0;
  }
}
