.chart-container {
  height: 100%;
  .symbol-status {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .status {
      .symbol {
        display: inline-block;
        padding-right: 10px;
        font-weight: 600;
        font-size: 1.4rem;
      }
      .percentageChange {
        display: inline-block;
        &.bull {
          color: $color-green;
        }
        &.bear {
          color: $color-red;
        }
      }
    }
    .date {
      display: flex;
      div {
        flex-shrink: 0;
        padding-left: 10px;
      }
    }
  }
  .chart-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    .info-card {
      flex: 1 0 20%;
      padding: 0.7rem;
      margin: 0.3rem;
      display: flex;
      align-items: center;
      border-radius: 5px;
      background-color: $color-primary-dark;
      @include box_shadow();

      div {
        padding: 5px;
        &.label {
          font-size: 0.9rem;
          font-weight: 600;
          align-self: start;
        }
        &.value {
          font-size: 1.2rem;
        }
      }
    }

    @include media('<=phone') {
      flex-direction: column;
      align-items: stretch;
    }
  }
  .chart {
    height: 50vh;
    padding: 0.5rem;
    background-color: $color-primary-dark;
    border-radius: 5px;
    @include box_shadow();
    @include media('<=phone') {
      height: 80vh;
    }
  }
}
