$color-primary: #282a2e;
$color-primary-light: #303238;
$color-primary-dark: #222327; // #0e273c;

$color-text: #fab73a;
$color-blue-light: #99beff;
$color-off-white: #e0e0e0;
$color-white: #ffffff;
$color-black: #000000;
